<div class="container-fluid">
    <div class="row align-items-center text-white"
        style="justify-content: space-between; height: 11vh;background-color: black;">
        <div class="col-3 col-md-2 col-lg-2 text-center"><i class ='bx bxs-heart' id="logo"></i></div>
        <div class="col-6 col-md-9 col-lg-7 mb-2">
            <input type="checkbox" id="check">
            <label for="check" class="icons text-white">
                <i class='bx bx-menu' id="menu-icon"></i>
                <i class='bx bx-x' id="close-icon"></i>
            </label>
            <nav>
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">SERVICES</a></li>
                    <li><a href="#">HELP</a></li>
                    <li><a href="#">SETTINGS</a></li>
                </ul>
            </nav>

        </div>
    </div>
</div>